.container {
  width: 100%;
  max-width: 150px;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border-radius: 2.5rem;

  transition: transform 0.2s ease-in-out;
  color: #fff;
  font-weight: 600;
  border: none;

  &:hover {
    transform: scale(1.05);
  }

  &.pink {
    background: rgb(249, 99, 135);
    background: linear-gradient(
      90deg,
      rgba(249, 99, 135, 1) 5%,
      rgba(199, 153, 164, 1) 100%
    );
  }

  &.black {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 5%,
      rgba(154, 152, 152, 1) 100%
    );
  }
}
