.container {
  background: var(--zinc-50);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  position: relative;

  transition: border-radius 0.3s ease;

  &::before,
  &::after {
    opacity: 0;
    visibility: hidden;
    max-height: 0;

    transition: opacity 0.4s ease-in-out;
    position: absolute;
  }

  &::before {
    content: "";

    width: 250px;
    height: 50px;

    background: transparent url("/images/line-red-secundary.png") no-repeat
      center;
    background-size: contain;

    top: 20px;
    left: -50px;
  }

  &::after {
    content: "";
    width: 200px;
    height: 200px;
    background: transparent url("/images/circle-yellow.png") no-repeat center;
    background-size: contain;

    bottom: 100px;
    right: 0;
  }

  @media (min-width: 1024px) {
    padding: 4rem 1rem;
    border-radius: 15rem 15rem 0 0;

    &::before,
    &::after {
      opacity: 1;
      visibility: visible;
      max-height: none;
    }
  }
}

.title {
  h3 {
    font-size: 1.2rem;
  }

  span {
    color: var(--cyan-100);
    position: relative;

    &::after {
      content: "";
      width: 25%;
      height: 5px;
      border-radius: 6px;
      background: var(--cyan-100);

      position: absolute;
      bottom: -12px;
      left: 15%;
    }
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 1.6rem;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 620px;

  @media (min-width: 1440px) {
    max-width: 800px;
  }
}

form .question {
  display: block;
  margin-bottom: 2rem;

  text-align: center;
  color: var(--gray-900);
}

form button {
  margin-top: 1.5rem;
}

.formContent .containerInputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    width: 100%;
    height: 2rem;
    padding: 0 0.8rem;

    font-size: 1rem;
    color: var(--gray-900);

    border: 0;
    border-radius: 0.3rem;
    border: 1px solid #dad6d6;

    outline: 2px solid transparent;

    &:focus {
      outline-color: var(--cyan-100);
    }

    &::placeholder {
      font-size: 0.7rem;
      letter-spacing: 1px;
      color: #bbbbbb;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;

    input {
      height: 2.7rem;
    }
  }
}

.formContent .accerptTerms {
  margin-top: 1rem;
  font-size: 0.8rem;

  display: flex;
  gap: 0.5rem;
  color: var(--gray-900);

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}
