:root {
  --green: #8ecb53;

  --white: #fff;

  --yellow: #afa326;

  --cyan-100: #53bfce;
  --cyan-200: #3fb9ca;
  --cyan-900: #02374f;

  --blue-600: #3d81db;
  --blue-900: #062d76;

  --gray-100: #d1d1d1;
  --gray-600: #a7a5a5;
  --gray-700: #838383;
  --gray-900: #4c4c4c;

  --zinc-50: #f0efef;
  --zinc-100: #fafafa;
  --zinc-300: #eeeeee;
  --zinc-400: #f3f3f3;

  --pink: #f390a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--cyan-900);
}

body,
input,
select,
textarea,
button {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
