.container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);

  padding: 0.2rem 0.6rem;
  border-radius: 1rem;

  max-width: max-content;
  font-size: 0.9rem;

  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &.pink {
    background: var(--pink);
  }

  &.blue {
    background: var(--cyan-100);
  }
}
